/* Gab */

body{
    margin: 0%;
    padding: 0%;
    /* background-image:url(../img/background.jpg) ; */
    background-color: black;
}

.headed {
    background-color: rgb(143, 3, 3);
    color: white;
    height: 5rem;    
}
.stat {
    background-color: rgb(59, 59, 59);
     border-top: 3px solid black;
    border-bottom: 3px solid black;
    
    
}
.gold-hero {
    color:yellow;
}
.pv-hero {
    color: red
}
.carte{
    height: 300px;
}
img{
    object-fit: cover;
}
.boite-propriete{
    height: 100px;
}


#combat-section{
    background-image: url("../images/fighting_game_animation_9.gif");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
#fuir, #fight, #suite{
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 2rem;
}
#fight{
    background-color: rgb(8, 8, 97);
}
#message-de-victoire{
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: green;
    display: none;

}
#message-de-defaite{
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: red;
    display: none;
}
#message-de-fuite{
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(255, 81, 0);
    display: none;
}
.inventairetext{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 0 0 blue, -2px 0 0 blue, 0 2px 0 blue, 0 -2px 0 blue, 1px 1px blue, -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue
}
.herotext{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 0 0 green, -2px 0 0 green, 0 2px 0 green, 0 -2px 0 green, 1px 1px green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green;
}
.monstretext{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 0 0 red, -2px 0 0 red, 0 2px 0 red, 0 -2px 0 red, 1px 1px red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red
}
.margintop{
    margin-top: 20px;
}
.paddingbottom{
    padding-bottom: 20px;
}
.modal-body{
    background-color: rgb(85, 83, 85);
}
/* bruno */
/* Modal */
.modal-content{
    width: 1000px;
}

.row{
    display:flex;
    flex-wrap: nowrap;
    
}

#inventory{
    color:white;
    border-color: blue;
    
}

#amr-inventory{
    object-fit: cover;
}

.card-body{
    color:black;
}
/* Modal content */
.bordure{
    border-radius: 40px;
    border: 3px solid black;
    font-weight: bold;
    text-align: center;
}
.bordure-left{
    border-left: 3px solid black;
    border-radius: 20px 0px 0px 20px;
}
.bordure-right{
    border-right: 3px solid black;
    border-radius: 0px 20px 20px 0px;
}

.power-up{
    background-color: rgb(182, 155, 5);
    padding: 1rem 2rem;
    border: black 3px solid;
    border-radius:30px;
    margin: 0.5rem;
}
/*modal gab*/
.Imodal{
    display: none;
    position: absolute;
    z-index: 1;
    left: 30%;
    top: 0%;
    width: 60%;
    height: 60%;
}
.modalcontent{
    background-image:url(../img/bag.jpg);
    background-color: #000000;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}