/* start */
.startback{
    background-color: rgb(59, 59, 59);
    background-image: url("../img/dungeon.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
#starting{
    position:absolute;
    color:transparent;
    font-size: 3rem;
    height: 5rem;
    top: 25rem;
    left: 55rem;
    background:transparent;
    border: transparent;
    background-image: url("../img/start.gif");
    background-size: 10rem;
    background-repeat: no-repeat;
    cursor: pointer;
}
#newgame{
    position:absolute;
    font-size:1.5rem;
    height: 3rem;
    top: 30rem;
    left: 55.53rem;
    border: transparent;
    background: transparent;
    cursor: pointer;
    background-image: url("../img/newgame.gif");
    background-size: 8rem;
    background-repeat: no-repeat;


}

#box-gameover{
    margin-top: 100px;
}